repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 3298ddab3c13dd77d6ce1fc0baf97691430d84b0  # frozen: v4.3.0
  hooks:
  - id: check-yaml
  - id: check-toml
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: 6f51a66bba59954917140ec2eeeaa4d5e630e6ce  # frozen: v1.9.0
  hooks:
  - id: python-use-type-annotations
  - id: python-check-blanket-noqa
  - id: python-check-blanket-type-ignore
- repo: https://github.com/asottile/yesqa
  rev: 265e9ff7c83add4949f81bb5fe14f4a743ffb04c  # frozen: v1.4.0
  hooks:
  - id: yesqa
    additional_dependencies:
    - flake8-bugbear
    - flake8-builtins
    - flake8-comprehensions
- repo: https://github.com/MarcoGorelli/absolufy-imports
  rev: 1683a63d850e065495c05b771e4a20db010a58e7  # frozen: v0.3.1
  hooks:
  - id: absolufy-imports
- repo: https://github.com/PyCQA/isort
  rev: e44834b7b294701f596c9118d6c370f86671a50d  # frozen: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: f6c139c5215ce04fd3e73a900f1372942d58eca0  # frozen: 22.6.0
  hooks:
  - id: black
- repo: https://github.com/myint/docformatter
  rev: e0c24db9430c0df94a077c07af2e1de536689c5f  # frozen: v1.5.0-rc1
  hooks:
  - id: docformatter
- repo: https://github.com/PyCQA/flake8
  rev: f8e1b317742036ff11ff86356fd2b68147e169f7  # frozen: 5.0.4
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear
    - flake8-builtins
    - flake8-comprehensions
