repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: e1668fe86af3810fbca72b8653fe478e66a0afdc  # frozen: v3.2.0
  hooks:
  - id: check-yaml
  - id: check-toml
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: eae6397e4c259ed3d057511f6dd5330b92867e62  # frozen: v1.6.0
  hooks:
  - id: python-use-type-annotations
  - id: python-check-blanket-noqa
- repo: https://github.com/timothycrosley/isort
  rev: 2e02c195afdb499be9068ca0d08c9d7d45912d4d  # frozen: 5.5.4
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: e66be67b9b6811913470f70c28b4d50f94d05b22  # frozen: 20.8b1
  hooks:
  - id: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 05f6544aef321e2fee03a1277ce2eef8880fb927  # frozen: 3.8.3
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear==20.1.4
    - flake8-builtins==1.5.3
    - flake8-comprehensions==3.2.3
- repo: https://github.com/myint/docformatter
  rev: de0bf8fa254d25a01383fecdb6335bea01daeae3  # frozen: v1.3.1
  hooks:
  - id: docformatter
