# List dependencies in a format that readthedocs.org understands.
# Move these to pyproject.toml and use the Poetry lockfile if readthedocs.org
# ever supports that.

docutils == 0.17.1
sphinx == 4.0.2
myst-parser == 0.15.1
furo == 2021.6.18b36
