# List dependencies in a format that readthedocs.org understands.
# Move to .readthedocs.yaml when this issue is resolved:
# https://github.com/readthedocs/readthedocs.org/issues/5572

myst-parser
furo
